.banner-section{
    min-height: 180px;
    background-repeat: no-repeat !important;
    background-position: right !important;
    background-size: cover !important;
    @include media-breakpoint-up(md){
        min-height: 325px;
        background-position: center center !important;
    }
    .banner-inner{
        min-height: 180px;
        @include media-breakpoint-up(md){
        min-height: 325px;
        }
        .breadcrumbs,.entry-title,a{
            color: $white;    
        }
        .breadcrumbs{
            margin-bottom: 10px;
            display: none;
            @include media-breakpoint-up(md){
                display: block;
            }
        }
        .entry-title{
            margin-bottom: 25px;
            @include media-breakpoint-up(md){
            margin-bottom: 50px;
            font-size: 2.75em;
            }
        }
    }

}