.card-section{
    margin-top: 40px;
    margin-bottom: 40px;
    .title{
        text-align:left;
        font-size: 24px;
        font-weight: bold;
        color: $dark-red;
        margin-top: 40px;
        margin-bottom: 40px;
        @include media-breakpoint-up(md) { 
            text-align:center;
            font-size: 30px;
        }
    }
    .card-wrap{
        background-color: $black-30;
        padding: 35px 30px 22px 30px;
        .cta-title{
            color: $dark-red;
            font-weight: 600;
            font-size: 22px;
            padding-bottom: 15px;
        }
        .copy{
            font-size: 18px;
        }
        .red-btn{
            color: $white;
            background-color: $red;
            text-transform: uppercase;
            font-weight: 700;
            font-size: 14px;
            position: relative;
            transition: transform ease 0.5s;
            min-width: 140px;
            padding: 16px;
            min-height: 52px;

            width: 100%;
            margin: 25px 0;
            border-radius: 0;
            text-align: center;
            &:hover{
                background-color: $dark-red;
                box-shadow: 0px 4px 20px rgba(202, 18, 55, 0.75);
                transform: translate(0, -5px);
                text-decoration: none;
            }
        }
    }
}