.featured-news-section{
  margin-bottom: 52px;
  @include media-breakpoint-up(md) {
    margin-bottom: 100px;
  }
    .title{
        margin-top: 30px;
        @include media-breakpoint-up(md) {
            margin-bottom: 60px;
        }

          a {
            margin: 0;
            font-weight: 700;
            font-size: 16px;
            line-height: 20px;
            text-transform: uppercase;
            color: $red;
            display: inline-block;
            white-space: nowrap;
            @include media-breakpoint-down(md) {
              font-size: 14px;
              line-height: 17px;
            }

            &:after {
              background-image: url("data:image/svg+xml,%0A%3Csvg width='6' height='10' viewBox='0 0 6 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.36384 4.65179C5.42336 4.71131 5.45312 4.77976 5.45312 4.85714C5.45312 4.93452 5.42336 5.00298 5.36384 5.0625L1.20312 9.22321C1.1436 9.28274 1.07515 9.3125 0.997768 9.3125C0.920387 9.3125 0.851935 9.28274 0.792411 9.22321L0.345982 8.77679C0.286458 8.71726 0.256696 8.64881 0.256696 8.57143C0.256696 8.49405 0.286458 8.4256 0.345982 8.36607L3.85491 4.85714L0.345982 1.34821C0.286458 1.28869 0.256696 1.22024 0.256696 1.14286C0.256696 1.06548 0.286458 0.997023 0.345982 0.9375L0.792411 0.491071C0.851935 0.431547 0.920387 0.401785 0.997768 0.401785C1.07515 0.401785 1.1436 0.431547 1.20312 0.491071L5.36384 4.65179Z' fill='%23CA1237'/%3E%3C/svg%3E%0A");
              content: "";
              background-repeat: no-repeat;
              width: 6px;
              height: 10px;
              display: inline-block;
              margin-left: 8px;
            }
            &:hover, &:focus {
                .featured-img-wrap{
                  img{
                    transition: transform ease 0.5s;
                    transform: scale(1.1);
                  }
                }
              }
        }
        
    }

        .featured-img-wrap{
            margin-bottom: 20px;
            .featured-content-wrap{
                .post-date{
                    font-size: 0.875em;
                    font-weight: 400;
                    font-size: 14px;
                    padding-top: 10px;
                    padding-bottom: 10px;
                }
                .post-title{
                    font-size: 0.875em;
                    font-weight: 600;
                    font-size: 14px;  
                }
            }
            
        }
        .news-wrap{
            overflow: hidden;
            .news-container{
                padding-bottom: 17px;
                overflow: hidden;
               .news-img-wrap{
               
                img{
                    min-width: 166px;
                }
               }
               .news-content-wrap{
                padding-left: 22px;
                .post-date{
                    font-size: 0.75em;
                    font-weight: 400;
                    color: $dark-red;
                }
                .post-title{
                    font-size: 0.875em;
                    font-weight: 400;
                    
                }
               }
               .img-wrap{
                overflow: hidden;
               }
               &:hover {
                .news-img-wrap {
                  //min-width: 165px;
                  transition: transform ease 0.5s;
                  transform: scale(1.1);
        
        
                }
                .featured-img-wrap{
                    img{
                        transition: transform ease 0.5s;
                        transform: scale(1.1);
                        
                    }
                }
              }
            }
        }



}